:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-500: hsl(0, 0%, 42%);
  --clr-gray-950: hsl(0, 0%, 7%);

  --fs-100: 0.875rem;
  --fs-200: 1rem;
  --fs-300: 1.5rem;
  --fw-regular: 500;
  --fw-bold: 800;
  --ff-primary: "Figtree", sans-serif;

  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1.5rem;
}

body {
  box-sizing: border-box;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-gray-950);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  transition: all ease 0.15s;
}

ul[role="list"] {
  list-style: none;
}

button,
input,
select {
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Utility Classes */

/* .container { */
/* width: min(calc(var(--page-max-width) - var(--page-inline-padding) * 2), calc(100dvw - var(--page-minimum-padding) * 2)); */
/* width: calc(var(--page-max-width) - var(--page-inline-padding) * 2); */
/* margin-inline: auto; */
/* } */

.txt-1 {
  font-size: var(--fs-300);
  letter-spacing: 0rem;
  line-height: 150%;
  font-weight: var(--fw-bold);
}

.txt-2 {
  font-size: var(--fs-200);
  letter-spacing: 0rem;
  line-height: 150%;
  font-weight: var(--fw-regular);
}

.txt-3 {
  font-size: var(--fs-100);
  letter-spacing: 0rem;
  line-height: 150%;
  font-weight: var(--fw-regular);
}

.txt-3-bold {
  font-size: var(--fs-100);
  letter-spacing: 0rem;
  line-height: 150%;
  font-weight: var(--fw-bold);
}

.display-none-desktop {
  display: none;
}

@media (max-width: 1000px) {
  .display-none-desktop {
    display: unset;
  }

  .display-none-mobile {
    display: none;
  }
}

/* Styles */

body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--clr-yellow);
  display: grid;
  place-content: center;
}

.card-container {
  max-width: 27rem;
  padding: var(--space-400);
  margin-inline: auto;
}

.card {
  margin-inline: auto;
  border: 0.0625rem solid var(--clr-gray-950);
  background: var(--clr-white);
  padding: var(--space-400);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  box-shadow: 0.5rem 0.5rem var(--clr-gray-950);
}

.card-image {
  border-radius: 0.625rem;
  height: 12.5rem;
  width: 100%;
  object-fit: cover;
}

.card-main {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
}

.card-desc {
  color: var(--clr-gray-500);
}

.card-author {
  display: flex;
  gap: var(--space-300);
  align-items: center;
}

.card-author-avatar {
  width: 2rem;
  aspect-ratio: 1;
}

@media (max-width:400px) {
  :root {
    --fs-100: 0.75rem;
    --fs-200: 0.875rem;
    --fs-300: 1.25rem;
  }
}
